$font-scale                 : 1.250;

//Params text
$font-family-text-base      : 'Inter', sans-serif;
$font-weight-text-base      : 400;
$font-size-text-base        : 18px;
$font-size-text-small       : 0.75rem;
$line-height-text-base      : 1.5;
$letter-spacing-text-base   : auto;

//Params Headers
$font-family-header-base    : 'Inter', sans-serif;
$font-weight-header-base    : 600;
$line-height-header-base    : 1.3;
$letter-spacing-header-base : -0.05em;

//Params paragraph
$paragraph-margin-top       : 0;
$paragraph-margin-bottom    : 1rem;

:root, body {
  font-family    : $font-family-text-base;
  font-size      : $font-size-text-base;
  font-weight    : $font-weight-text-base;
  line-height    : $line-height-text-base;
  letter-spacing : $letter-spacing-text-base;

  color          : $label-300;
}

h1, h2, h3, h4, h5, h6, .title {
  margin-top     : 0;
  font-family    : $font-family-header-base;
  font-weight    : $font-weight-header-base;
  line-height    : $line-height-header-base;
  letter-spacing : $letter-spacing-header-base;
}

//generate font-size for tags h1 - h6, .title_h1 - h6
@include getFontSizeTitle($font-scale, $font-size-base);

small, .text_small {
  font-size : $font-size-text-small;
}

blockquote {
  font-style       : italic;
  margin           : 0;
  margin-bottom    : 1rem;
  padding          : 1em;
  background-color : $label-950;
  font-weight      : 300;
}

p {
  margin-top    : $paragraph-margin-top;
  margin-bottom : $paragraph-margin-bottom;
}

pre {
  font-size : .8em;
}
